:root {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --icon-hover: #ff7eee;
  --transition-speed: 200ms ease;
}

body {
  color: black;
  background-color: rgb(134, 134, 134);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: var(--transition-speed);
}

.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background-color: var(--bg-secondary);
  fill: var(--icon-hover);
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  fill: var(--icon-hover);
}

#nav-link-0 {
  flex-direction: row-reverse;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
}
.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

main {
  margin-left: 5rem;
  margin-bottom: 5rem;
  padding: 1rem;
}

button {
  all: unset;
  cursor: pointer;
}

#img-slider {
  display: flex;
  padding: 0;
  justify-content: center;
  align-content: center;
}
#img-window {
  margin-top: 5rem;
  height: calc(100vh - 10rem);
  border: 1px solid #141418;

  overflow: hidden;
}

#img-holder {
  display: flex;
  width: 10000px;
  height: inherit;
  background-color: #6649b8;
}

.images {
  height: calc(100vh - 10rem);
  color: #141418;
}

.scroller {
  margin: 1rem;
}

/* small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    position: fixed;
    background-color: var(--bg-primary);
    transition: var(--transition-speed);
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
}
/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: var(--transition-speed);
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
    transition: opacity var(--transition-speed);
  }
}

/* 
#main {
  display: flex;
}
#nav-bar-container {
  background-color: antiquewhite;
  height: 100vh;
  width: max-content;
}
#nav-bar-container:hover {
  animation: mymove 800ms;
  animation-timing-function: ease-in-out;
}
@keyframes mymove {
  from {
    width: 50px;
  }
  to {
    width: 100px;
  }
} */
